# Taller: An√°lizando de datos desde un VPS 
üìÖ12/12/2021


*   Ariel Silvio Norberto Ramos : Mail: asnramos@gmail.com
*   Nico Quiroz: Twitter: @pythonnorte
*   Participante: Nombre y Apellido, Datos de Contacto

# Videos para quienes inician en usar JUPYTER HUB/Notebook en un VPS

https://github.com/PythonNorte/scipyLA2021-TallerVPS-Videos

<table>
  <tr>
      <td><img src="https://www.scipy.lat/es/_images/scipy.png" alt="logo Scipy LA" width="320" height="320"></td>
      <td><img src="http://python-norte.esy.es/assets/images/logo-python-norte.jpg" alt="logo pythonNorte" width="160" height="160"></td>
  </tr>
</table>


Temario 


1.   Introducci√≥n VPS 
2.   Obtener los datos desde Weather ‚òÄ‚õÖüå¶üåß
3.   Abrir archivos con Pandas üêº üìÑ**.csv**
4.   Algo de matplotlib üìà
5.   Algo de plotlyüìäüéà
6.   Herramientas (Lux-API) y ejemplos para pr√°cticar üè†

 ## VPS  Servidor Privado Virtual üñ•üíª‚òÅ ¬øQu√© es VPS y para que sirve?.¬øPor que nos decidimos a utilizar el un VPS?üë©‚Äç‚öïÔ∏èüë®‚Äç‚öïÔ∏è

 - Buscamos en internet la informacion sobre un VPS

In [ ]:
#  paquetes se han instalado
!pip list

## Obtener datos Global Weather Data for SWAT (repositorio de informacion meteorol√≥gica) üì©
[Global Weather Data for SWAT](https://globalweather.tamu.edu/)


<img src="https://tricolor-scilla-68c.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Ff83f0d8e-b911-4e20-b7d2-07732acd305a%2FUntitled.png?table=block&id=500edae4-0d33-4373-8a8e-9f293a7b9f1e&spaceId=62aa27de-48fd-4703-8a40-2de64b627b11&width=1750&userId=&cache=v2" width="500" alt="Global Weather Data">

### [Pandas](https://pandas.pydata.org/)

<img src="https://tricolor-scilla-68c.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fdc0dd082-a3da-4d41-a435-3c36877fd4f6%2FUntitled.png?table=block&id=74c62c2e-c4c7-4cd5-831a-7ca72f759e5e&spaceId=62aa27de-48fd-4703-8a40-2de64b627b11&width=640&userId=&cache=v2" width="500" alt="Global Weather Data">

Marc Garcia üõ©@datapythonista (telegram)

In [3]:
import pandas as pd

In [ ]:
ruta = "https://raw.githubusercontent.com/cocodibuja/scipyla2021/main/weatherdata--304-622.csv"
df_weather = pd.read_csv(ruta)
print(df_weather)

In [ ]:
# dimensiones / forma
df_weather.shape

In [ ]:
#primeros valores
df_weather.head(10)

In [ ]:
#√∫ltimos valores
df_weather.tail(5)

In [ ]:
# nombres de las columnas
print(df_weather.columns.values)

In [9]:
#borramos una columna en particular
del df_weather['Unnamed: 10']

In [ ]:
df_weather

In [11]:
### Veamos Longitude,Latitude,Elevation

In [ ]:
df_weather['Longitude'].plot()

In [ ]:
df_weather['Longitude'].unique()

In [ ]:
print(df_weather['Latitude'].unique())
df_weather['Latitude'].plot()

In [ ]:
print(df_weather['Elevation'].unique())
df_weather['Elevation'].plot()


**Longitude** -30.442301  **Latitude** 75  **Elevation** 34.968

In [16]:
#borramos varias columnas Longitude, Latitude, Elevation
       
df_weather = df_weather.drop(['Longitude', 'Latitude', 'Elevation'], axis =1)

# en caso de tener muchas columnas que borrar... => solo nos quedamos con 
# aquellas columnas de nuestro inter√©s

df_opcion_2 = df_weather[['Date', 'Max Temperature',
       'Min Temperature', 'Precipitation', 'Wind', 'Relative Humidity',
       'Solar']]

In [ ]:
df_weather.head()

In [ ]:
df_weather['Max Temperature'].max()

In [ ]:
df_weather['Max Temperature'].min()

In [ ]:
df_weather['Min Temperature'].max()

In [ ]:
df_weather['Min Temperature'].min()

### Queremos saber cuando (que fecha) fue la temperatura m√°s elevada de 'Max Temperatura'. üå°üìÜ

In [22]:
max_temperature_max = df_weather['Max Temperature'].max()

In [ ]:
df_weather[df_weather['Max Temperature']==max_temperature_max]

In [ ]:
df_weather['Max Temperature'].plot();
df_weather['Min Temperature'].plot();

In [ ]:
df_weather.sort_values('Max Temperature')#,ascending=False)

### ¬øMax Temp >= Min Temp?

In [ ]:
sum(df_weather['Max Temperature']>=df_weather['Min Temperature'])

### ¬øhubo muchas precipitaciones?  ==> üåß>0

In [27]:
dias_lluvia = sum(df_weather['Precipitation']>0)

In [ ]:
total_dias = df_weather.shape[0]
porcentaje = dias_lluvia/total_dias*100
porcentaje

### Trabajemos con D√≠as ¬ø Cu√°ntos a√±os hay registrados?

In [ ]:
int(total_dias/365)

In [ ]:
# ¬øla √∫ltima fecha?
df_weather['Date'].max()

In [ ]:
df_weather['Date'].tail(5)

In [32]:
# solucionemos el Date
df_weather['Date'] = pd.to_datetime(df_weather['Date'])#.dt.date

In [33]:
df_weather['Date'].max()

Timestamp('2014-07-31 00:00:00')

In [ ]:
!pip install funpymodeling #Pablo Casas
from funpymodeling.exploratory import status
# https://pypi.org/project/funpymodeling/

In [ ]:
status(df_weather)

## Estaciones ‚òÄ‚õÖüå¶üåß

https://es.stackoverflow.com/

In [36]:

# https://es.stackoverflow.com/questions/412121/convertir-fechas-a-estaciones
from datetime import date, datetime


def get_season(fecha):
  '''ingresa una fecha y devuelve la estaci√≥n del a√±o'''
  Y = fecha.year
  estaciones = [('invierno', datetime(Y,  1,  1),  datetime(Y,  3, 20)),
              ('primavera', datetime(Y,  3, 21),  datetime(Y,  6, 20)),
              ('verano', datetime(Y,  6, 21),  datetime(Y,  9, 22)),
              ('oto√±o', datetime(Y,  9, 23),  datetime(Y, 12, 20)),
              ('invierno', datetime(Y, 12, 21),  datetime(Y, 12, 31))]

  for estacion, inicio, fin in estaciones:
    if inicio <= fecha <= fin:
      return estacion

In [37]:
df_weather['Seasons'] = df_weather['Date'].apply(get_season)

In [ ]:
df_weather

In [ ]:
df_weather_1979 = df_weather[df_weather['Date'].dt.strftime('%Y') == '1979']
df_weather_1979

In [ ]:
sum(df_weather_1979['Precipitation'][df_weather_1979['Seasons'] == 'oto√±o']>0)

In [ ]:
sum(df_weather_1979['Precipitation'][df_weather_1979['Seasons'] == 'oto√±o']>0)/sum(df_weather_1979['Seasons'] == 'oto√±o')

In [42]:
def porcentaje_precipitaciones(df,estacion):
  '''ingresa el df y devuelve el porcentaje 
  de precipitaci√≥n(>0) de la estaci√≥n ingresada'''
  total_dias = sum(df_weather_1979['Seasons']==estacion)
  total_lluvia = sum(df_weather_1979['Precipitation'][df_weather_1979['Seasons'] == estacion]>0)
  total_sin_lluvia = total_dias - total_lluvia
  p_lluvia = int(total_lluvia/total_dias*100)
  return[p_lluvia,100-p_lluvia]

In [ ]:
porcentaje_precipitaciones(df_weather_1979,'invierno')

![](https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F17d6223b-b555-4abe-9b70-45c3cc77e20e%2FUntitled.png?table=block&id=5ac8cd71-ea26-4f9a-b719-7eac6264096d&spaceId=62aa27de-48fd-4703-8a40-2de64b627b11&width=1420&userId=&cache=v2)

In [ ]:
import matplotlib.pyplot as plt

# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Lluvia', 'No lluvia'
sizes = porcentaje_precipitaciones(df_weather_1979,'invierno')
explode = (0.1, 0)  # only "explode" 

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title("Invierno 1979", bbox={'facecolor':'0.9', 'pad':1})
plt.show()

In [ ]:
# https://coderedirect.com/questions/364195/how-to-make-mxn-piechart-plots-with-one-legend-and-removed-y-axis-titles-in-matp

estaciones = ['invierno','primavera','verano','oto√±o']

fig, axes = plt.subplots(1,4, figsize=(20,5))
for ax, estacion in zip(axes, estaciones):
    ax.pie(porcentaje_precipitaciones(df_weather_1979,estacion), labels=['Lluvia', 'No lluvia'], autopct='%.2f')
    ax.set(ylabel='', title=estacion, aspect='equal')

axes[0].legend(bbox_to_anchor=(0, 0.5))


plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.plot(df_weather_1979['Date'], df_weather_1979['Precipitation'])
plt.show()



![](https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Ffa3748de-b07b-4cef-a636-3c1063aa134f%2FUntitled.png?table=block&id=2c462201-ceb3-4c52-aaa4-214cf334dee5&spaceId=62aa27de-48fd-4703-8a40-2de64b627b11&width=330&userId=&cache=v2)

[plotly](https://plotly.com/python/)

In [47]:
import plotly.express as px

In [ ]:
fig = px.line(df_weather, x='Date', y="Precipitation")
fig.show()

In [ ]:
fig = px.line(df_weather_1979, x='Date', y="Precipitation")
fig.show()

## Levantando un EXCEL

In [1]:
import pandas as pd
datos = pd.read_excel('data/LAQUIACA-2019-JUNIO.xlsx')
datos

,MESA,ORDEN,ESCUELA,TIPO DE EJEMPLAR,MATRICULA,APELLIDO,NOMBRE,CLASE,GENERO,DOMICILIO,SECCION,CIRCUITO,MESA.1,ORDEN_MESA,ESCUELA.1,TX_SECC_NUMERO,TX_CIRC_NUMERO
0,1620,1,EET,DNI-EA,8000677,PRIETO,RAUL MANUEL,1948,M,AV. LAMADRID 344,15 - YAVI,118 - LA QUIACA,1620,1,EET,15,118
1,1620,2,EET,DNI,28314207,ABALO,BELEN ZULEMA,1980,F,BELGRANO 797 S/N,15 - YAVI,118 - LA QUIACA,1620,2,EET,15,118
2,1620,3,EET,DNI-EA,33844704,ABALO,BETSABE AMERICA,1988,F,BELGRANO 797,15 - YAVI,118 - LA QUIACA,1620,3,EET,15,118
3,1620,4,EET,DNI-EA,8012954,ABALO,LUIS ALBERTO,1950,M,BELGRANO 797,15 - YAVI,118 - LA QUIACA,1620,4,EET,15,118
4,1620,5,EET,DNI-EB,28727558,ABALO,LUIS ENRIQUE,1982,M,AV. MARIA MAIDANA ESQ. PJE. LIBERTAD S/N,15 - YAVI,118 - LA QUIACA,1620,5,EET,15,118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14299,1662,328,ESCUELA FRONTERA,DNI-EA,41401783,ZUTARA,CELESTE NOEMI,1998,F,SAN CAYETANO-PAT.ARGENTIN 287,15 - YAVI,118 - LA QUIACA,1662,328,ESCUELA FRONTERA,15,118
14300,1662,329,ESCUELA FRONTERA,DNI-EA,39401859,ZUTARA,CRISTIAN ARIEL,1996,M,ARGENTINAS 287,15 - YAVI,118 - LA QUIACA,1662,329,ESCUELA FRONTERA,15,118
14301,1662,330,ESCUELA FRONTERA,DNI-ED,40765421,ZUTARA,DANTE SALVADOR,1997,M,MINEROS DEL AGUILAR 561,15 - YAVI,118 - LA QUIACA,1662,330,ESCUELA FRONTERA,15,118
14302,1662,331,ESCUELA FRONTERA,DNI-EC,12231832,ZUTARA,DOROTEA,1956,F,TAMBORCITO DE TACUARI 616,15 - YAVI,118 - LA QUIACA,1662,331,ESCUELA FRONTERA,15,118
14303,1662,332,ESCUELA FRONTERA,DNI-EC,21319985,ZUTARA,HILARIO,1972,M,S.CAYETANO-P.ARGENTINAS 287,15 - YAVI,118 - LA QUIACA,1662,332,ESCUELA FRONTERA,15,118

## M√°s herramientas para aprender

<img src="https://github.com/lux-org/lux-resources/raw/master/logo/logo.png?raw=true" width="500" alt="lux-widget-logo">


[lux-widget](https://github.com/lux-org/lux-widget)

In [50]:
#!jupyter nbextension install --py luxwidget

In [51]:
#!jupyter nbextension enable --py luxwidget

In [52]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/college.csv")

In [ ]:
df